# =====================
# IntelliJ IDEA
# =====================
.idea/
*.iml
out/

# =====================
# Eclipse
# =====================
.classpath
.project
.settings/
bin/

# =====================
# Maven
# =====================
target/

# =====================
# Logs
# =====================
*.log

# =====================
# OS Files
# =====================
.DS_Store
Thumbs.db

# =====================
# VS Code
# =====================
.vscode/

# =====================
# Spring Boot
# =====================
*.class

# =====================
# Temporary files
# =====================
*.tmp